{{ partial "header.html" .}}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/uco_banner.png')">
 <div class="container">
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       <div class="site-heading">
         <h1></h1>
         {{ with .Site.Params.Description }}<span class="subheading">{{ . }}</span>{{ end }}
       </div>
     </div>
   </div>
 </div>
</header>

<!-- 404 Error -->
<div class="container section" id="mission">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mb-3">
      <div class="site-heading">
        <h1>404 Error!</h1>
        <span class="subheading">Sorry, the page you're looking for cannot be found.</span>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" .}}
