{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/uco_banner.png')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1></h1>
             {{ with .Site.Params.Description }}<span class="subheading">{{ . }}</span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Mission Statement -->
    <div class="container section" id="mission">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mb-3">
          <div class="site-heading">
            <h1>Welcome!</h1>
            <span class="subheading">We are a para-church organization that is holding fast to the truth of the gospel, strengthening students in their faith, and empowering students to proclaim a message of hope to those around them.</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Events Section -->
    <div class="container section section-dark" style="background-image: url('{{ .Site.BaseURL }}/img/anchor_banner.png');" id="events">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Events</h1>
            <div class="events justify-content-center">
            {{ range where .Pages "Section" "events" }}
              <div class="col-sm-4">
                <div class="event-card">
                  {{ if isset .Params "title" }}
                    <div class="event-title">{{.Title}}</div>
                  {{ end }}
                  {{ if isset .Params "when" }}
                    <div class="event-date"><i class="far fa-calendar-alt"></i> {{.Params.When}}</div>
                  {{ end }}
                  {{ if isset .Params "time" }}
                    <div class="event-date"><i class="far fa-clock"></i> {{.Params.Time}}</div>
                  {{ end }}
                  {{ if isset .Params "where" }}
                    <div class="event-date"><i class="fas fa-map-marker-alt"></i> {{.Params.Where}}</div>
                  {{ end }}
                  {{ if (not (eq .Params.What "")) }}
                    <div class="event-description">{{.Params.What}}</div>
                  {{ end }}
                </div>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Form -->
    <div class="container section" id="contact">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mb-3">
          <div class="site-heading">
            <h1>Get in Touch</h1>
            <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhla16Nwv6wmVCc8IgibVAzjhd0pti5IMD3hAEi7tK5Cledw/viewform?embedded=true" width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
            <form name="contact" method="POST" netlify>
              <div class="row">
                 <div class="form-group col-md-6">
                   <label for="inputFirstName">First Name</label>
                   <input type="text" name="first_name" class="form-control" id="inputFirstName" placeholder="" required>
                 </div>
                 <div class="form-group col-md-6">
                   <label for="inputLastName">Last Name</label>
                   <input type="text" name="last_name" class="form-control" id="inputLastName" placeholder="" required>
                 </div>
               </div>

               <div class="row">
                  <div class="form-group col-md-6">
                    <label for="inputPhone">Phone Number</label>
                    <input type="Phone" name="phone_number" class="form-control" id="inputPhone" placeholder="" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputInstagram">Instagram</label>
                    <input type="text" name="instagram" class="form-control" id="inputInstagram" placeholder="@" required>
                  </div>
                </div>

              <div class="form-group">
                <label>Interests:</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" checked value="myRelationshipWithJesus">
                    My Relationship with Jesus
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" value="discoveryBibleStudy">
                    Discovery Bible Studies
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" value="prayerOnCampus">
                    Prayer on Campus
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" value="discipleshipGroups">
                    Discipleship Groups
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" value="worshipOpportunities">
                    Worship Opportunities
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="interest[]" value="conferenceAndRetreats">
                    Conferences and Retreats
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
