<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="We are a ministry, holding to the truth of the gospel, strengthening students in their faith, and empowering students to proclaim a message of hope.">
  <meta name="author"
    content="{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Params.Author }}{{.Site.Params.Author}}{{ end }}">
  <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ end }}">

  <!-- Google SEO -->
  <meta name="google-site-verification" content="CphpzSSzPjC3mv9yEcNEtoRzi5OPcer3TyBj5-LDPcY" />

  <!-- Tells Google not to provide a translation for this document -->
  <meta name="google" content="notranslate">

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Anchor Ministries">
  <meta property="og:description"
    content="We are a ministry, holding to the truth of the gospel, strengthening students in their faith, and empowering students to proclaim a message of hope.">

  <!-- Twitter Stuff -->
  <meta name="twitter:title" content="Anchor Ministries">
  <meta name="twitter:description"
    content="We are a ministry, holding to the truth of the gospel, strengthening students in their faith, and empowering students to proclaim a message of hope.">

  <!-- Add to home screen -->
  <meta name="mobile-web-app-capable" content="yes">

  <title>{{ .Site.Title }}</title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/clean-blog.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link
    href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- Drift.com - Chat with Users
    <!- - Start of Async Drift Code - ->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('s8b2hsky3pz7');
    </script>
    <!- - End of Async Drift Code - ->
    -->
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }} <i class="fas fa-anchor"></i></a>
      </div>

      {{ partial "navbar.html" . }}
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <header class="intro-header" style="background-image: url('/img/banner.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
          <div class="site-heading">
          </div>
        </div>
      </div>
    </div>
  </header>