<style>
    #google-form {
        height: 50vh;
        width: 100%;
    }

    .bg-light-grey {
        background-color: #f2f2f2;
    }
</style>

<div class="container section bg-light-grey" id="contact">
    <div class="row">
        <div class="text-center col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 mb-3">
            <div class="site-heading">
                <h1>Let's Get in Touch</h1>
            </div>
            <div class="text-center">
                <iframe id="google-form"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSdMcWVoPwnO1cwJm4D8F2c23s1Xc6GMuv02hDsm6UkgHp_Xmg/viewform?embedded=true"
                    width="640" height="1446" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
</div>